body{
    background-color: rgba(3, 33, 114, 0.75);
    color:black;
    margin:20px;
    font-size: 20px;
    }
p{
    line-height: 30px;
    font-size: 25px;
}
h3{
    font-size: 37px;
}
.ig{
    text-decoration: none;
    color: rgb(238, 238, 245);
}
@media screen and (max-width:512px) {
nav ul li{
    display: block;
    margin: 2px 0;
    padding: 10px;
} 
}