header h1{
    text-align: center;
    padding:10px;
    margin: auto;
    margin-bottom: 16px;
    color: white;
    background-color:#0b0c2a;
    border-radius: 10px;
    text-shadow:0 2px rgb(70, 92, 141);
}    
body{
    background-color: rgba(3, 33, 114, 0.75);
    color:black;
    margin:20px;
    font-size: 20px;
}
strong{
    font-size:25px;
}
ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
    padding: 5px;
    margin: 3px;
    list-style: none;
}
h3{
    font-size:25px;
    color: rgb(0, 0, 0);
}
.link nav{
    background-color:black;
    text-align: center;
    margin:14px;
    border-radius: 17px;
    padding:0;
}
.link nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.link ul li{
    display: inline;
    margin: 2px auto ;
    padding: 12px;
    width: 100%;
}
.link ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition:0.3s;
}
.link ul li a:hover{
    color:#023e4d;
}

@media screen and (max-width:778px) {
    header h1{
    font-size:30px;
}    
}
@media screen and (max-width:712px){
    ul {
    display: block; 
     grid-template-columns: none;   
    padding: 10px;
    margin: 3px;
    list-style: none;
}
ul li{
    padding: 5px;
}
 ul li strong{
    padding:0;
    display: block;
 }
    .link nav{
    background-color:black;
    border-radius: 17px;
}
    .link ul{
    list-style: disc;
    margin: 0;
    padding: 0;
}
    .link ul li{
    font-size: 10px;    
    display: inline-block;
    margin: 2px 0;
    padding: 10px;
}
}
@media screen and (max-width:540px){
 header h1{
    font-size: 32px;
 }   
}
@media screen and (max-width:540px){
    body{
        margin:6px;
    }
}
